// app global css in Sass form

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Permanent+Marker&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.logo
    font-family: 'Italic', cursive
    font-size: 36px

.logo_small
    font-family: 'Merienda', cursive
    font-size: 16px

.logo_labels
    font-family: 'Merienda', cursive
    font-size: 16px
.logo1
    font-family: 'Permanent Marker', cursive
    font-size: 30px
.Dancing
  font-family: 'Italic', cursive

.merienda
  font-family: 'Montserrat', cursive

.merienda-bold
  font-family: 'Montserrat', cursive
  font-color:#FFFFFF
  font-weight:bold

#zoom:hover
  transform: scale(1.5)

.zoom
  opacity: 1
  display: block
  width: 100%
  height: auto
  transition: .5s ease
  backface-visibility: hidden


.custom-caption
    text-align: center
    padding: 12px
    color: white
    background-color: rgba(0, 0, 0, .3)


.icon-bar
  position: fixed
  top: 85%
  left: 92%
  -webkit-transform: translateY(50%)
  -ms-transform: translateY(50%)
  transform: translateY(50%)


.icon-bar a
  display: block
  text-align: center
  padding: 2px
  transition: all 0.3s ease
  color: white
  font-size: 20px
  border-radius: 15px


.icon-bar a:hover
  background-color: #26A69A


.chat
  background: #003755
  color: white


