#ei_tab{
  display:block;
  position:fixed;
  background-color:#18d26e;
  color:#fff;
  border:1px solid #18d26e;
  font-size:15px;
  font-family:Arial;
  line-height:15px;
  opacity:1;
  z-index:999995;
  cursor:pointer;
  text-decoration:none;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg) scale(1.02);
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  transition:all .5s ease;
  -moz-transition:all .5s ease;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease
}
#ei_tab .screen_reader{
  position:absolute;
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px,1px,1px,1px);
  padding:0;
  border:0;
  height:1px;
  width:1px;
  overflow:hidden
}
#ei_tab.ei_tab_right{
  right:-8px;
  top:43%;
  padding:5px 14px 14px 14px;
  border-bottom:0;
  color:white;
  font-weight:400;
  border-radius:9px 9px 0 0;
  -moz-border-radius:9px 9px 0 0;
  -webkit-border-radius:9px 9px 0 0;
  transform-origin:100% 100% 0;
  -webkit-transform-origin:100% 100% 0;
  -ms-transform-origin:100% 100% 0
}
#ei_tab.ei_tab_right:hover,#ei_tab.ei_tab_right:focus,#ei_tab.ei_tab_right:active{
  background:#18d26e;
  transform: rotate(-90deg) scale(1.02) translateY(-5px);
  -ms-transform:rotate(-90deg) scale(1.02) translateY(-5px);
  -webkit-transform:rotate(-90deg) translateY(-5px);
  -moz-transform:rotate(-90deg) translateY(-5px)
}
#ei_tab.ei_tab_left{
  left:-12px;
  top:62%;
  padding:17px 12px 5px 13px;
  color:white;
  font-weight:400;
  border-top:0;
  border-radius:0 0 9px 9px;
  -moz-border-radius:0 0 9px 9px;
  -webkit-border-radius:0 0 9px 9px;
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -ms-transform-origin:0 0
}
#ei_tab.ei_tab_left:hover,#ei_tab.ei_tab_left:focus,#ei_tab.ei_tab_left:active{
  background:#18d26e;
  transform:rotate(-90deg) scale(1.02) translateY(5px);
  -ms-transform:rotate(-90deg) scale(1.02) translateY(5px);
  -webkit-transform:rotate(-90deg) translateY(5px);
  -moz-transform:rotate(-90deg) translateY(5px)
}
#ei_tab img{
  width:9px;
  height:9px;
  margin-right:7px;
  margin-bottom:1px;
  color:transparent;
  border:0;
  transform:translateZ(0) !important;
  -webkit-transform:translateZ(0) !important;
  -ms-transform:translateZ(0) !important
}
#ei_tab.ei_tab_left.ei_legacy{
  top:auto;
  right:auto;
  bottom:-5px;
  left:20px;
  padding:10px 10px 15px 10px;
  z-index:999995;
  cursor:pointer;
  border-bottom:0;
  border-radius:9px 9px 0 0;
  -moz-border-radius:9px 9px 0 0;
  -webkit-border-radius:9px 9px 0 0;
  transform:rotate(0);
  -ms-transform:rotate(0);
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0)
}
#ei_tab.ei_tab_right.ei_legacy{
  top:auto;
  bottom:-5px;
  right:20px;
  padding:10px 10px 15px 10px;
  z-index:999995;
  cursor:pointer;
  border-bottom:0;
  transform:rotate(0);
  -ms-transform:rotate(0);
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0)
}
#ei_tab.ei_legacy img{
  top:12px !important
}
#ei_tab.ei_tab_right.ei_legacy:hover,#ei_tab.ei_tab_right.ei_legacy:focus,#ei_tab.ei_tab_right.ei_legacy:active{
  bottom:0
}
#ei_tab.ei_tab_left.ei_legacy:hover,#ei_tab.ei_tab_left.ei_legacy:focus,#ei_tab.ei_tab_left.ei_legacy:active{
  bottom:0
}
@font-face {
  font-family: "Dancing";
  src: url('./fonts/DancingScriptOT.otf');
}


.price-item {
  background-color: #ffffff;
  margin-top: 1.5rem;
  padding: 0;
  -webkit-box-shadow: 1px 1px 8px #e1e1e1;
  box-shadow: 1px 1px 8px #e1e1e1;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}
.price_header {
  background-color: #18d26e;
  padding: 20px 0 20px 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  border-bottom: 1px solid transparent;
}
.price_header_text {
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 1;
}
.actual_price {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  padding-top: 35px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
  z-index: 1;
}
.small_font {
  font-size: 14px;
  font-weight: bold;
}
.price-list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 10px;
}
.price-list li {
  padding: 7px;
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
}
.btn-green {
  padding: 10px 39px 10px 39px;
  text-align: center;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6px;
  color: white !important;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #00bcd4;
  border: 1px solid white;
}
.btn-green-margin {
  margin-bottom: 35px;
}
.btn-green:hover {
  background-color: white;
  color: #00bcd4 !important;
  border: 1px solid #00bcd4;
}
.price-item-center:hover .actual_price {
  color: white;
}
.price-item:hover .price_header_text {
  color: white;
}
.price-item:hover .actual_price {
  color: white;
}
.colored_hover {
  position: absolute;
  height: 0;
  width: 92%;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  z-index: 1;
}
.colored_hover-center {
  position: absolute;
  height: 0;
  width: 92%;
  -webkit-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
  z-index: 1;
}
.price-item:hover .colored_hover {
  background-color: #00bcd4 !important;
  height: 175px;
}
.price-item-center:hover .colored_hover-center {
  background-image: -webkit-linear-gradient(190deg, #cf43ca 30%, #8579e0 100%);
  height: 220px;
}
.price-item-center {
  background-color: #ffffff;
  padding: 0;
  -webkit-box-shadow: 1px 1px 8px #e1e1e1;
  box-shadow: 1px 1px 8px #e1e1e1;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}

.price_header-center {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: -webkit-linear-gradient(190deg, #cf43ca 30%, #8579e0 100%);
}

.color-white {
  color: #ffffff !important;
}

#whatsapp_tab{
  display:block;
  position:fixed;
  background-color:#009688;
  color:#fff;
  border:1px solid #119999;
  font-size:15px;
  font-family:Arial;
  line-height:15px;
  opacity:1;
  z-index:999995;
  cursor:pointer;
  text-decoration:none;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  transform:rotate(0deg);
  -ms-transform:rotate(0deg) scale(2.02);
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  transition:all .5s ease;
  -moz-transition:all .5s ease;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease
}
#whatsapp_tab .screen_reader{
  position:absolute;
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px,1px,1px,1px);
  padding:0;
  border:0;
  height:1px;
  width:1px;
  overflow:hidden
}
#whatsapp_tab.whatsapp_tab_right{
  right:8px;
  top:90%;
  padding:1px 1px 1px 1px;
  border-bottom:0;
  color:white;
  font-weight:400;
  border-radius:25px 25px 25px 25px;
  -moz-border-radius:25px 25px 25px 25px;
  -webkit-border-radius:25px 25px 25px 25px;
  transform-origin:100% 100% 0;
  -webkit-transform-origin:100% 100% 0;
  -ms-transform-origin:100% 100% 0
}
#whatsapp_tab.whatsapp_tab_right:hover,#whatsapp_tab.whatsapp_tab_right:focus,#whatsapp_tab.whatsapp_tab_right:active{
  background:#26A69A;
  transform:rotate(0deg) scale(1.02) translateY(-5px);
  -ms-transform:rotate(0deg) scale(1.02) translateY(-5px);
  -webkit-transform:rotate(0deg) translateY(-5px);
  -moz-transform:rotate(0deg) translateY(-5px)
}

#whatsapp_tab img{
  width:9px;
  height:9px;
  margin-right:7px;
  margin-bottom:1px;
  color:transparent;
  border:0;
  transform:translateZ(0) !important;
  -webkit-transform:translateZ(0) !important;
  -ms-transform:translateZ(0) !important
}

#whatsapp_tab.whatsapp_tab_right.ei_legacy{
  top:auto;
  bottom:-5px;
  right:20px;
  padding:10px 10px 15px 10px;
  z-index:999995;
  cursor:pointer;
  border-bottom:0;
  transform:rotate(0);
  -ms-transform:rotate(0);
  -webkit-transform:rotate(0);
  -moz-transform:rotate(0)
}
#whatsapp_tab.ei_legacy img{
  top:12px !important
}
#whatsapp_tab.whatsapp_tab_right.ei_legacy:hover,#whatsapp_tab.whatsapp_tab_right.ei_legacy:focus,#whatsapp_tab.whatsapp_tab_right.ei_legacy:active{
  bottom:0
}
#whatsapp_tab.whatsapp_tab_left.ei_legacy:hover,#whatsapp_tab.whatsapp_tab_left.ei_legacy:focus,#whatsapp_tab.whatsapp_tab_left.ei_legacy:active{
  bottom:0
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 28px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-header p {
  text-align: center;
  padding-bottom: 30px;
  color: #333;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #f7f7f7;
}

/* Upcoming Events Section
--------------------------------*/
// #uevents {
//   background: #fff;
//   padding: 60px 0;
// }

.member {
  text-align: center;
  // margin-bottom: 20px;
  // background: #ffffff;
  position: relative;
  // width: 120px;
  // height: 300px;
}

.member .member-info {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.member .member-info-content {
  margin-top: -50px;
  transition: margin 0.2s;
}

.member:hover .member-info {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  transition: 0.4s;
}

.member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

.member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.member .social {
  margin-top: 15px;
}

.member .social a {
  transition: none;
  color: #fff;
}

.member .social a:hover {
  color: #18d26e;
}

.member .social i {
  font-size: 18px;
  margin: 0 2px;
}
